@import "../../../breakpoints";

.menu-btn-container {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background: #C2E1FA;
    cursor: pointer;
}

@media (max-width: $desktop) {
    .menu-btn-container {
        height: 60px;
        width: 60px;
        svg {
            height: 60%;
            width: 60%;
        }
    }

}
