@import "../../breakpoints";

.navbar-container {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #DDDCDC;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    
    .search-section {
        width: 413px;
        height: 100%;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #DDDCDC;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .logo-container {
            width: 50px;
            height: 50px;
            border: thin solid #000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

    }

    .buttons-sections {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .authentication-section {
            
        .shopping-cart-button {
            border: 2px solid #dddd;
            background-color: #fff;
            height: 48px;
            width: 48px;                
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    }

}

@media (max-width: $desktop) {
    .navbar-container {
        .search-section {
            width: 29%;
        }

        .buttons-sections {
            width: 42%;
            max-width: 600px;
        }
        .authentication-section {
            width: 29%;
            
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            padding-left: 15px;
            

            // .shopping-cart-button {
    
            // }
        
        }

    }


}