@import '../../globalVariables';
.dashboard-page-container {
    display: flex;
    flex-direction: row;

    .dashboard-page-container__menu-section {
        width: 280px;
        height: 100vh;
        border-right: 2px dashed $selectedColor;
        overflow-y: auto;
    }
    .dashboard-page-container__window-section {
        display: flex;
        flex-direction: column;
        width: calc(100% - 270px);
        .dashboard-page-container__window-section--window {
            padding: 50px 30px 10px 30px;
        }
    }
}